<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hồ sơ - Chess Pro</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="auth-container profile-container">
    <div class="profile-info">

        <div class="avatar-circle flat-style" th:text="${#strings.substring(currentPlayer.username,0,1).toUpperCase()}">G</div>

        <h2 class="profile-title" th:text="${currentPlayer.username}">Tên người dùng</h2>
        <p style="color: #aaa; font-size: 0.95rem; margin-top: 0;">Hạng: <span style="color: var(--primary-color); font-weight: bold;" th:text="${currentPlayer.eloRating >= 1500 ? 'Cao thủ' : 'Tân binh'}"></span></p>

        <div class="stats flat-style">
            <div class="stat-item">
                <strong class="text-primary">0</strong>
                <span>Thắng</span>
            </div>
            <div class="stat-item">
                <strong class="text-primary">0</strong>
                <span>Thua</span>
            </div>
            <div class="stat-item">
                <strong class="text-primary" th:text="${currentPlayer.eloRating}">1200</strong>
                <span>Elo</span>
            </div>
        </div>

        <a th:href="@{/logout}" class="btn-logout-flat">Đăng xuất</a>

        <a th:href="@{/}" class="link-back-flat">
            ← Quay lại bàn cờ
        </a>
    </div>
</div>
</body>
</html>